@page "/"

<PageTitle>Fritz's First Application</PageTitle>
<HeadContent>
    <meta name="description" content="Fritz's first web page"
</HeadContent>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="What's Fritz Gonna Code Next?" />

<Counter IncrementBy="5" />

