<div>Here is a button: <button @onclick="OnClick">The Button</button></div>

@code {

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    public async Task DoMoreWithClick(MouseEventArgs args) {
        Console.WriteLine("The button was clicked");
        await OnClick.InvokeAsync(args);
    }

}