<div class="card-body" 
        style="@($"color: {BodyFontColor};" +
        $"background-color: {BodyBgColor}")">

    @ChildContent

</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    
    [CascadingParameter(Name="bodyfontcolor")]  
    public string BodyFontColor { get; set; }
    
    
    [CascadingParameter(Name="bodybgcolor")]  
    public string BodyBgColor { get; set; }

    protected override void OnInitialized() {

        Console.WriteLine($"BodyFontColor: {BodyFontColor}");
        base.OnInitialized();

    }


}