@page "/emote"

@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime
@implements IAsyncDisposable

<h3>Emote Demo</h3>
<h4>@Clients clients connected</h4>
<h4>Emote clicks: @Clicks</h4>

@code {

	private HubConnection hubConnection;
	private IJSObjectReference module;
	int Clients = 0;
	int Clicks = 0;

	protected override async Task OnInitializedAsync()
	{

		module = await jsRuntime.InvokeAsync<IJSObjectReference>(
			"import", "./js/emote.js"
		);

		hubConnection = new HubConnectionBuilder()
				.WithUrl(NavigationManager.ToAbsoluteUri("/hub/emote"))
				.Build();

		hubConnection.On<int>("FlyEmote", async (buttonId) =>
		{
			await module.InvokeVoidAsync("flyEmote", buttonId);
		});

		hubConnection.On<int>("Count", count =>
		{
			Clients = count;
			StateHasChanged();
		});

		hubConnection.On<int>("clicks", count =>
		{
			Clicks = count;
			StateHasChanged();
		});

		await hubConnection.StartAsync();

		await module.InvokeVoidAsync("start");

	}

	public async ValueTask DisposeAsync() {
		await hubConnection.DisposeAsync();
	}

}
