@model Person

<form method="POST">

  <div class="form-group">

    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>

  <div class="form-group">
    <label asp-for="City"></label>
    <input asp-for="City" class="form-control" />
  </div>

  <div class="form-group">
    <label asp-for="Age"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
  </div>

  <input type="submit" class="btn-primary" value="Save" />

</form>

@if (TempData.ContainsKey("Person"))
{

  var p = TempData.Get<Person>("Person");
  <p>
  <dl>
    <dt>Name:</dt>
    <dd>@p.Name</dd>
    <dt>City:</dt>
    <dd>@p.City</dd>
    <dt>Age:</dt>
    <dd>@p.Age</dd>
  </dl>
  </p>
}