@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<button @onclick="@(() => City = "New York")">New York Weather</button>


<FetchData City="@City" />

@code {

	private string City = "Philadelphia";


} 