@page
@model IndexModel
@{
		ViewData["Title"] = "Home page";
}

<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		
		<ul>
			<li><a href="/MoveShape">Move Shape Demo</a></li>
			<li><a href="/Emote">Emote Demo</a></li>
		</ul>

</div>
