@page "/1_simple"

<h1>Simple Component</h1>

<p>This page creates a simple HatDisplay component and passes a parameter to it:</p>

<h4>Code Sample:</h4>
<pre>
&lt;HatDisplay Name="Blazor Hat"&gt;&lt;/HatDisplay&gt;
</pre>

<HatDisplay Name="Blazor Hat"></HatDisplay>

<HatDisplay Name="Super C#"></HatDisplay>