@page "/3_bettercard"

<h1>Parameters and ChildContent</h1>

<p>
    Let's combine the last two examples and make a card component that allows only 1 header
</p>

<h4>Code Sample:</h4>
<pre>
&lt;TheCard HeaderText="Blazor Hat"&gt;
    This is one of Fritz's hats
&lt;/TheCard&gt;
</pre> 

<TheCard HeaderText="Blazor Hat">
    This is one of <b>Fritz's</b> hats
</TheCard>
