@page "/7_library"

<h1>Library Components</h1>

<p>
    You can create your own libraries of components that can be referenced and used inside of 
    other projects using the <b>razorclasslib</b> Razor Class Library template.  Check out the
    <b>Fritz.Components</b> project in this repository.
</p>

<Fritz.Components.Component1></Fritz.Components.Component1>