@page "/hatdemos"

<h1>Component Demos</h1>

<ol>
    <li><a href="1_simple">Simple Component</a></li>
    <li><a href="2_hierarchy">Child Components and RenderFragments</a></li>
    <li><a href="3_bettercard">Combine the two</a></li>
    <li><a href="4_collection">Working with Collections</a></li>
    <li><a href="5_css">CSS Isolation</a></li>
    <li><a href="6_template">Templates</a></li>
    <li><a href="7_library">Libraries</a></li>
</ol>
