@page "/1_CardReview"

<h1>Reviewing the Card component</h1>

<p>This is a bootstrap component that we have wrapped a Blazor component around to make interacting with
    it easier from Blazor.
</p>

<pre>
&lt;TheCard HeaderText="Blazor Hat"&gt;
    &lt;b&gt;Acquired:&lt;/b&gt; May 2020
&lt;/TheCard&gt;    
</pre>

<TheCard HeaderText="Blazor Hat">
    <b>Acquired:</b> May 2020
</TheCard>