@page "/3_OtherAttributes"

<h1>Other Attributes and Parameters</h1>

<pre>
&lt;TheCard HeaderText="Blazor Hat" style="text-decoration: underline;"&gt;
    Another of Fritz's hats
&lt;/TheCard&gt;
</pre>

<TheCardStyle HeaderText="Blazor Hat">
    Another of Fritz's hats
</TheCardStyle>
