@page "/"

<h1>Component Interactions</h1>

<ol>
    <li><a href="/1_CardReview">Card Component Review</a></li>
    <li><a href="/2_Event">OnClick Event</a></li>
    <li><a href="/3_OtherAttributes">Other parameters and attributes</a></li>
    <li><a href="/4_Cascading">Cascading Parameters</a></li>
    <li><a href="/5_State">Session State</a></li> 
</ol>

<Textbox>This is my textbox</Textbox>
