<div class="card" style="width: 20em">

    <div class="card-header">

        <h5 class="card-title">@Name</h5>

    </div>

    <div class="card-body">
        This is one of Fritz's hats
    </div>

</div>

@code {

    [Parameter] public string Name { get; set; }

}