@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        Really cool menu stuff over here
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            Fritz's Way Cool Layout! 
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
