@inject ExampleJsInterop js 

<div class="my-component">
    This Blazor component is defined in the <strong>DemoLib</strong> package.

    <button @onclick="Greet">Click this button</button>

</div>

@code {

  async Task Clicked() {

    var response = await js.Prompt("What's the frequency Kenneth?");
    Console.WriteLine($"Response from the prompt '{response}");
	}

  async Task Greet() {
    await js.HelloWorld();
	}


} 

