@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>Some form interactions</p>
<ul>
    <li><a asp-action="Basic1" asp-controller="Form">Basic Form 1</a></li>
    <li><a asp-action="Model" asp-controller="Form">Form with Model</a> </li>
    <li><a asp-action="Validate" asp-controller="Form">Form with Validation</a> </li>
</ul>