@page
@model SecretModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<h1>This is a secret page</h1>

@foreach (var claim in User.Claims)
{
		<p><b>@claim.Type</b> @claim.Value</p>
}

@if ((await AuthorizationService.AuthorizeAsync(User, "BostonOnly")).Succeeded)
{
    <p>This paragraph is displayed because you fulfilled PolicyName.</p>
}
